@page
@model WebShop.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<div class="alert alert-light border-info" role="alert">
    <form class="form-inline">
        <div class="form-group">
            @*<label for="staticEmail2" class="sr-only">Email</label>*@
            <select class="custom-select" asp-for="OrderBy" asp-items="Html.GetEnumSelectList<ServiceLayer.ProductService.QueryObjects.OrderByOptions>()"></select>
        </div>
        <div class="form-group mx-sm-3">
            @*<label for="inputPassword2" class="sr-only">Password</label>*@
            <select class="custom-select" asp-for="FilterBy" asp-items="Html.GetEnumSelectList<ServiceLayer.ProductService.QueryObjects.ProductsFilterBy>()"></select>
        </div>
        <div class="form-group mx-sm-3">
            @*<label for="inputPassword2" class="sr-only">Password</label>*@
            <input class="form-control" type="text" placeholder="Search..." />
        </div>
        <button type="submit" class="btn btn-info">Search</button>
    </form>
    
</div>
<br />

<div class="card-deck">
    @foreach (var item in Model?.Products)
    {
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card my-4 border-info">
            @if (item.PhotoPath == null)
                {<img class="card-img-top" src="~/img/notfound.png" asp-append-version="true" alt="Card image" style="width:100%"> }
                else
                { <img class="card-img-top" src="~/img/@{@item.PhotoPath}.jpg" asp-append-version="true" alt="Card image" style="width:100%">}
            <div class="card-body">
                <h5 class="card-title">@item.BrandName</h5>
                <p class="card-text">@item.ModelName</p>
                <span>Price:</span><h5><b>@item.Price</b></h5>
            </div>
            <div class="card-footer text-muted">

                <a class="btn btn-info" asp-page="/Products/Details" asp-route-productId="@item.Id">
                    <i class="fas fa-info-circle"></i>
                    <span>Details</span>
                </a>
                <a class="btn btn-info" asp-page="./Edit" asp-route-restaurantId="">
                    <i class="fas fa-edit"></i>
                    <span>Add to cart</span>
                </a>
            </div>
        </div>
    </div>
    }
</div>
@*<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/Movies/Index" asp-all-route-data="@(new Dictionary<string, string> {{ "currentpage", @i.ToString() }, { "SortBy", Model.SortBy }, { "MovieGenre", Model.MovieGenre } })" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>*@